<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="profile-image">
                    <img src="/Melody-Premium-Bootstrap-Admin-Dashboard-Template/images/faces/meltem.png" alt="image" />
                </div>
                <div class="profile-name">
                    <p class="name">
                        Hoşgeldin Meltem
                    </p>
                    <p class="designation">
                        Operasyon Sorumlusu
                    </p>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="fa fa-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="fa fa-puzzle-piece menu-icon"></i>
                <span class="menu-title">İstatistik & Raporlama </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="fa fa-anchor menu-icon"></i>
                <span class="menu-title">Mal Kabul</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="far fa-file-alt menu-icon"></i>
                <span class="menu-title">Ürün Yerleştirme</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="fa fa-bolt menu-icon"></i>
                <span class="menu-title">Mağaza Sevkiyat</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="fa fa-certificate menu-icon"></i>
                <span class="menu-title">E-Ticaret</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="fa fa-coffee menu-icon"></i>
                <span class="menu-title">Ürün Yerleştirme</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="fa fa-compass menu-icon"></i>
                <span class="menu-title">İkmal Besleme</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="fa fa-cubes menu-icon"></i>
                <span class="menu-title">Stok Yönetimi</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="fa fa-fighter-jet menu-icon"></i>
                <span class="menu-title">İade Yönetimi</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="fa fa-flag-checkered menu-icon"></i>
                <span class="menu-title">Forklift Yönetimi</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="fa fa-gamepad menu-icon"></i>
                <span class="menu-title">Rota Optimizasyonu</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="fa fa-lemon menu-icon"></i>
                <span class="menu-title">Sipariş Arama</span>
            </a>
        </li>
    </ul>
</nav>